@{
    ViewData["Title"] = "Projects";
}

@model ProjectViewModel
@using Newtonsoft.Json;
@using ProjetosFrontEnd.Views.ViewModel;


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class="mb-5">Project</h1>

<form asp-action="InsertProject" asp-controller="Project" method="post">
    <div class="row">
        <input class="d-none" asp-for="@Model.Project.ProjectId" value="null" id="campoId" />
        <input class="d-none" asp-for="@Model.Token" value="@ViewData["Token"]" id="token" />
        <div class="col-12 col-lg-5 col-xl-2 mb-3;" style="width: 100%; padding: 5px">
            <label for="nome">Nome</label>
            <input asp-for="@Model.Project.Name" id="nome" class="form-control mb-3;" />
            <span asp-validation-for="@Model.Project.Name" class="text-danger"></span>
        </div>
    </div>
    <div>

    </div>
    <div class="row">
        <div class="col-2 col-lg-2 col-xl-2" style="width: 100%; padding: 5px">
            <span asp-validation-for="@Model.Project.ProjectId" class="text-danger"></span>
            <button id="btn-salvar" type="submit" class="btn btn-dark right mt-2" style="border-radius: 30px;width:100%;">Salvar</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-xl-12 col-12" id="container-tabela">
        <div class="row" style="overflow:auto">
            <table class="table table-hover mt-5" style="text-align:center;">
                <thead class="thead-dark">
                    <tr>
                        <th class="d-none" scope="col">Id</th>
                        <th scope="col" class="col-xl-4 col-4">Nome</th>
                        <th scope="col">Alterar</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model.Projects)
                    {
                        <tr>
                            <td id="td-Nome-@project.ProjectId">@project.Name</td>
                            <td><button id="@project.ProjectId" onclick="GetValue(this)" class="btn btn-dark" style="border-radius: 10px;width:100%;"><i class="fa fa-edit"></i> Alterar</button></td>
                            <td><button id="@project.ProjectId" onclick="DeleteUser(this)" type="submit" class="btn btn-dark" style="border-radius: 10px; width:100%;">Excluir</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
    {
        <script>

            function UpdateUser(button) {
                var idProject = button.id;
                var name = document.getElementById('nome').innerText;

                if (window.confirm("Deseja alterar o projeto selecionado?")) {

                    $.ajax({
                    url: '/Project/UpdateProject/' + idProject,
                        type: 'POST',
                        contentType: 'application/json',
                    data: {
                        name: name,
                        updatedAt: null
                    },
                    }).done(function (response) {
                        alert('Projeto alterado com sucesso!')
                    });
                }
                else {
                    document.getElementById("nome").innerText = "";
                    alert("Projeto não foi alterado");
                }
                
            }

            function DeleteUser(button) {
                var idProject = button.id;

                if (window.confirm("Deseja excluir o projeto selecionado?")) {

                    $.ajax({
                        url: '/Project/DeleteProject/' + idProject,
                        type: 'DELETE',
                        contentType: 'application/json',
                        data: {
                            idProject: idProject,
                        },
                    }).done(function (response) {
                        alert('Projeto excluído com sucesso!')
                    });
                }
                else {
                    document.getElementById("nome").innerText = "";
                    alert("Projeto não foi excluido");
                }

            }
           
            function GetValue(button){
                var idProject = button.id;
                var nome = document.getElementById("td-Nome-"+idProject).innerText;
                $('#nome').val(nome);
                $('#campoId').val(idProject);
            }
        </script>
}